<a href="https://colab.research.google.com/github/kseniasvichkareva/Step/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
data = pd.read_csv("cost_of_living_us.csv")

# Новый раздел

In [7]:
data

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31430 entries, 0 to 31429
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_id                 31430 non-null  int64
 1   state                   31430 non-null  object
 2   isMetro                 31430 non-null  bool
 3   areaname                31430 non-null  object
 4   county                  31430 non-null  object
 5   family_member_count     31430 non-null  object
 6   housing_cost            31430 non-null  float64
 7   food_cost               31430 non-null  float64
 8   transportation_cost     31430 non-null  float64
 9   healthcare_cost         31430 non-null  float64
 10  other_necessities_cost  31430 non-null  float64
 11  childcare_cost          31430 non-null  float64
 12  taxes                   31430 non-null  float64
 13  total_cost              31430 non-null  float64
 14  median_family_income    31420 non-null  float64
dtypes: bool(1), float64(9), int64(1), object(4)
memory usage: 3.4+ MB

In [9]:
data.describe()

,case_id,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
count,31430.000000,31430.000000,31430.000000,31430.000000,31430.000000,31430.000000,31430.000000,31430.000000,31430.000000,31420.000000
mean,1589.311804,11073.673539,8287.504557,13593.856381,13394.031748,7015.318377,9879.584233,7657.714782,70901.683601,68315.997017
std,917.218414,4165.606147,3271.140249,1640.456562,5204.545710,2397.415490,6778.223399,3339.795571,21846.545235,16886.970245
min,1.000000,4209.311280,2220.276840,2216.461440,3476.379960,2611.642080,0.000000,1027.800756,30087.662400,25529.976562
25%,792.000000,8580.000000,5801.424360,12535.159800,9667.440000,5286.354120,5341.621590,5597.970360,53776.019400,57223.988281
50%,1593.000000,10416.000000,8129.156280,13698.164400,13082.700000,6733.056120,10166.340120,6898.468860,70977.682800,65955.605469
75%,2386.000000,12444.000000,10703.624280,14765.758500,16657.816800,8413.090230,14276.377800,8790.207270,85371.341100,76136.070312
max,3171.000000,61735.587600,31178.619600,19816.482000,37252.274400,28829.443200,48831.085200,47753.390400,223717.548000,177662.468750

Этот набор данных содержит информацию о стоимости жизни для 1877 округов США.
Он включает в себя такие данные, как идентификатор случая, штат, столичный статус, округ, количество членов семьи, расходы на жилье, еду, транспорт, здравоохранение, другие предметы первой необходимости, уход за детьми, налоги, общую стоимость и средний семейный доход.

По результату выполнения команды data.info видим, что пустых значений нет.
Типы данных: bool(1), float64(9), int64(1), object(4)

Из наблюдений по результату выполнения команды data.describe: семьи с наибольшим доходом тратят сильно больше основого кол-во семей на еду и жилье, однако на транспорт относительно других расходов у всех примерно сопоставимые траты. (т.е. максимум не в разы отличается от квантилей 25%, 50% и 75%)

In [17]:
x=data.isnull()

In [18]:
data.isnull().loc[x['case_id']==True]

Empty DataFrame
Columns: [case_id, state, isMetro, areaname, county, family_member_count, housing_cost, food_cost, transportation_cost, healthcare_cost, other_necessities_cost, childcare_cost, taxes, total_cost, median_family_income]
Index: []

Пустых значений нет

In [19]:
data.corr()

<ipython-input-19-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,case_id,isMetro,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
case_id,1.000000,-0.004414,-0.026491,-0.012465,0.040213,0.041542,-0.022840,0.036054,-0.067015,0.004434,0.060353
isMetro,-0.004414,1.000000,0.367349,0.048483,-0.101242,-0.078326,0.255245,0.220274,0.324290,0.196972,0.422359
housing_cost,-0.026491,0.367349,1.000000,0.577021,0.253291,0.299124,0.914854,0.644778,0.766607,0.784998,0.584800
food_cost,-0.012465,0.048483,0.577021,1.000000,0.698019,0.814550,0.857673,0.713018,0.474955,0.894176,0.125054
transportation_cost,0.040213,-0.101242,0.253291,0.698019,1.000000,0.689419,0.504562,0.455550,0.299172,0.634592,0.077726
healthcare_cost,0.041542,-0.078326,0.299124,0.814550,0.689419,1.000000,0.591030,0.526584,0.335627,0.748550,-0.070990
other_necessities_cost,-0.022840,0.255245,0.914854,0.857673,0.504562,0.591030,1.000000,0.758449,0.717454,0.936292,0.430015
childcare_cost,0.036054,0.220274,0.644778,0.713018,0.455550,0.526584,0.758449,1.000000,0.638053,0.880401,0.286404
taxes,-0.067015,0.324290,0.766607,0.474955,0.299172,0.335627,0.717454,0.638053,1.000000,0.749285,0.535975
total_cost,0.004434,0.196972,0.784998,0.894176,0.634592,0.748550,0.936292,0.880401,0.749285,1.000000,0.337168
median_family_income,0.060353,0.422359,0.584800,0.125054,0.077726,-0.070990,0.430015,0.286404,0.535975,0.337168,1.000000

В данном датафрейме казалось, что очевидная корреляция, какую можно был бы увидеть - это завимисость дохода семьи с общими тратами. Т.е. чем больше средний заработок семьи, тем больше у них трат в сумме по всем группам расходов (транспорт, здоровье, еда, жилье и т.п.), но нет. Зависимость = 0.337 - довольно низкая корреляция.
Коррелируют траты на жилье с другими тратами первой необходимости, = 0.915,  чем больше семья тратится на жилье, тем больше иных трат первой неоходимости.
Также чем больше общих трат у семьи, тем больше семья тратится на еду (корреляция = 0.894)

In [45]:
cost1=data['food_cost'].sum()
cost2=data['healthcare_cost'].sum()
cost3=data['housing_cost'].sum()
print(cost1, cost2, cost3)

260476268.22239998 420974417.82672 348045559.33368003

In [34]:
data1=data.sample(n=10)
data2=data.sample(n=10)

In [35]:
data1

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
29623,2991,WA,True,"Wenatchee, WA MSA",Douglas County,1p3c,18132.00000,9533.82720,14760.55920,11341.50876,10024.42020,18464.16960,9176.57004,91433.0568,72097.562500
16043,1626,MT,False,"Carter County, MT",Carter County,1p3c,12600.00000,9533.82720,16308.98760,12563.16960,8019.95880,17182.42920,11732.06256,87940.4352,62636.390625
22721,2299,PA,True,"Chambersburg-Waynesboro, PA MSA",Franklin County,1p1c,10764.00000,4847.06136,11398.84860,7634.82132,5656.50288,9506.39424,6855.66432,56663.2908,77407.281250
4828,489,GA,False,"Macon County, GA",Macon County,2p3c,9672.00000,11238.01536,13861.16040,19130.88480,7576.52268,9107.80956,6510.85176,77097.2460,44923.640625
23470,2376,SC,False,"Lee County, SC",Lee County,1p0c,6684.00000,2884.28484,11007.13692,5314.79004,3466.96692,0.00000,5290.80648,34647.9840,48466.187500
24267,2455,SD,False,"Walworth County, SD",Walworth County,2p2c,8628.00000,9054.60648,14538.45360,19355.30520,6407.10576,11218.19892,5647.05468,74848.7232,72977.554688
4651,472,GA,True,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",Jasper County,1p1c,10365.28932,4541.25288,13369.47120,7743.47172,5401.22832,6720.02412,6933.16404,55073.9004,59882.441406
432,44,AL,False,"Macon County, AL",Macon County,1p2c,7968.00000,7303.38132,11994.58812,11305.12356,5533.42380,12165.04800,6539.24628,62808.8088,50030.046875
29391,2968,VA,True,"Virginia Beach-Norfolk-Newport News, VA-NC HUD...",Norfolk city,1p1c,12214.68000,5015.25552,9245.50632,7887.17136,6243.08496,9523.93356,7679.94504,57809.5776,63679.644531
7686,775,IN,True,"Scott County, IN HUD Metro FMR Area",Scott County,2p1c,10200.00000,6462.90084,13338.35280,11312.52024,6037.62600,10032.45780,7692.98808,65076.8436,61704.031250

In [36]:
data2

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
29423,2971,VA,True,"Virginia Beach-Norfolk-Newport News, VA-NC HUD...",Poquoson city,1p3c,19882.56600,9175.18728,13785.59640,13218.55320,10528.77024,19195.41120,15607.94520,101394.0240,112442.585938
14487,1470,MS,False,"Monroe County, MS",Monroe County,2p2c,8208.00000,9084.58812,13963.83360,17674.48680,6265.78716,4093.55532,5823.33576,65113.5876,57513.554688
25318,2560,TX,True,"Austin County, TX HUD Metro FMR Area",Austin County,2p3c,14904.00000,10981.77468,15886.86720,18314.37360,9379.43700,13281.57000,6412.58568,89160.6096,80292.664062
23473,2376,SC,False,"Lee County, SC",Lee County,1p3c,10656.00000,8308.47588,12904.25640,13187.78280,6871.57764,7802.88432,3842.35140,63573.3276,48466.187500
18139,1840,NM,False,"McKinley County, NM",McKinley County,2p4c,11592.00000,12632.71560,14915.77440,16360.79880,8777.57004,14863.26960,5567.53128,84709.6584,40496.992188
20119,2038,ND,False,"Hettinger County, ND",Hettinger County,2p4c,13428.00000,15186.13920,17195.36040,18296.52120,10368.03144,14049.58200,6506.64840,95030.2788,78210.257812
1250,126,AR,False,"Conway County, AR",Conway County,1p0c,5724.00000,2894.66016,11543.84616,4846.79004,3122.88060,0.00000,5080.37112,33212.5488,56524.718750
6253,632,IL,False,"Greene County, IL",Greene County,1p3c,10452.00000,8368.24872,13886.07240,15886.14360,6819.31788,13235.22600,8507.45292,77154.4632,60582.738281
28233,2852,VA,False,Alleghany County-Clifton Forge city-Covington ...,Alleghany County,1p3c,11667.86796,9234.96024,14138.49120,13157.89800,7573.91892,12678.49080,8443.91376,76895.5428,60513.937500
25729,2601,TX,False,"Cooke County, TX",Cooke County,2p4c,13620.00000,13573.44960,15138.43320,21892.50120,9853.25976,9728.64840,4478.93736,88285.2300,74995.265625

In [43]:
cost1= data1['food_cost'].sum()
cost2= data2['food_cost'].sum()
print (cost1<cost2)

True

In [47]:
cost1_min= data1['food_cost'].min()
cost2_min= data2['food_cost'].min()
print (cost1_min, cost2_min)

2884.28484 2894.66016

In [48]:
cost1_mean= data1['food_cost'].mean()
cost2_mean= data2['food_cost'].mean()
print (cost1_mean, cost2_mean)

7041.4413 9944.019948000001

In [50]:
cost1_median= data1['food_cost'].median()
cost2_median= data2['food_cost'].median()
print (cost1_median, cost2_median)

6883.14108 9205.07376

In [49]:
cost1_max= data1['food_cost'].max()
cost2_max= data2['food_cost'].max()
print (cost1_max, cost2_max)

11238.01536 15186.1392

In [53]:
cost1_std= data1['food_cost'].std()
cost2_std= data2['food_cost'].std()
print (cost1_std<cost2_std)

True